:root {
  --primay-color: #79ab7f;
  --title-color: #79ab79;
  --text-color: #6d976d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fff5e7;
  --webkit-font-smoothing: antialiased;
  color: var(--text-color);
}

body,
input,
button {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}
